.round {
    border-radius: 50%;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    outline: none;
}

button:focus, button:active {
    outline: none;
}

.mainBtn {
    height: 50px;
    width: 50px;
    font-size: 16px;
    margin: 10px;
}

.smallBtn {
    height: 20px;
    width: 20px;
    font-size: 15px;
    margin: 5px;
}

#mainTable {
    width: 80%;
}