.vertShift {
    transition: all 1s;
    transform: scaleY(0);
    height: 0;
    transform-origin: 0 0;
    overflow: hidden;
    text-overflow: clip;
}

input[type='text'] {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 0;
}

article {
    position: relative;
    z-index: 1;
}

#tapLine {
    margin-top: 10px;
    margin-bottom: 20px;
    filter: blur(0);
}

body {
    text-align: center;
    min-width: 330px;
}

.bold {
    font-weight: bold;
}

#settings {
    clear: both;
    /*position: relative;*/
    text-align: center;
    width: auto;
    display: inline-block;
}

#settings > form {
    /*position: relative;*/
    background-color: white;
    float: left;
    display: block;
    width: auto;
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 20px;
}

.round {
    border-radius: 50%;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    outline: none;
}

a:focus, a:active {
    outline: none;
}

.smallBtn {
    height: 20px;
    width: 20px;
    font-size: 15px;
    margin: 5px;
}

#mainBtns {
    width: auto;
    display: inline-block;
}

#mainBtns > a {
    float: left;
    height: 50px;
    width: 50px;
    font-size: 16px;
    margin: 10px;
}

#playBtn > div {
    position: relative;
}

.clear:after {
    clear: both;
    content: "";
    display: block;
    width: 100%;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.template {
    background-color: white;
    display: inline-block;
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 20px;
    height: 50px;
    width: 200px;
}

#templates ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.template > img {
    height: 40px;
}

@media (max-width: 780px) {
    #mainBtns {
        transform: scale(1.2);
    }

    #settings {
        font-size: 20px;
    }

    .smallBtn {
        width: 25px;
        height: 25px;
        font-size: 20px;
    }

    #settings > form {
        width: 250px;
        float: none;
        clear: both;
        margin: 10px;
    }

    input[type='text'] {
        font-size: 20px;
        height: 30px;
    }
}