{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rhythmix</title>
    <meta name="keywords"
          content="rhythm trainer, rhythm, trainer, metronome, тренажер ритма, ритм, тренажер, метроном, rhythmix">
    <meta name="description" content="Rhythm trainer : just hit the metronome !">
    <link rel="icon" type="image/png" href="{% static 'Images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'metronome.js' %}"></script>
</head>
<body onresize="fullUserTapsLine()">
<audio id="strongBeat" src="{% static 'Audio/strongBeat.mp3' %}"></audio>
<audio id="weakBeat" src="{% static 'Audio/weakBeat.mp3' %}"></audio>
<header>
    <h2 style="word-wrap: break-word">Just hit the metronome!</h2>
</header>
<article class="bold">
    <div id="tapLine" class="vertShift clear">
        <canvas id="usertaps" height="30" width="700" style="max-width: 700px"></canvas>
    </div>
    <div class="clear">
        <div id="mainBtns">
            <a class="round" id="playBtn" style="padding-top: 15px; padding-bottom: 15px; height: 20px"
                    onclick="startGame(event)"
                    onkeydown="event.preventDefault()"
                    onkeypress="event.preventDefault()"
                    onkeyup="event.preventDefault()"
            ><b>Play</b></a>
            <a class="round" id="templateBtn"  style=""
                    onclick="openTemplates(event)"
                    onkeydown="event.preventDefault()"
                    onkeypress="event.preventDefault()"
                    onkeyup="event.preventDefault()"
            ><img src="../static/Images/templates.png" style="position: relative; margin: 8px"></a>
            <a class="round" id="setBtn"
                    onclick="openSettings(event)"
                    onkeydown="event.preventDefault()"
                    onkeypress="event.preventDefault()"
                    onkeyup="event.preventDefault()"
            ><img src="../static/Images/settings.png" style="position: relative; margin: 8px"></a>
        </div>
    </div>
    <div id="settings" class="vertShift clear">
        <form name="tempo" onsubmit="reloadGame(event); event.preventDefault()">
            Tempo<br>
            <input type="text" size="2" value="60" style="text-align: right"> bpm
        </form>
        <form name="complexity" onchange="reloadGame(event)">
            Complexity<br style="margin-bottom: 10px">
            <div style="text-align: left; display: inline-block">
                <input type="radio" name="complexity" value="easy" checked>Easy<br>
                <input type="radio" name="complexity" value="middle">Middle<br>
                <input type="radio" name="complexity" value="hard">Hard<br>
                <input type="radio" name="complexity" value="super">Super Hard
            </div>
        </form>
        <form name="signature"
              onsubmit="reloadGame(event); event.preventDefault()"
              onchange="reloadGame(event); event.preventDefault()"
        >
            Signature
            <br>
            <script>
                function reduce(event) {
                    if (event.explicitOriginalTarget !== event.currentTarget) return; //because form submit calls button(first form button) click
                    var input = event.currentTarget.parentNode.getElementsByTagName('input')[0];
                    input.value -= 1;
                    event.preventDefault();
                    reloadGame(event);
                }

                function increase(event) {
                    var input = event.currentTarget.parentNode.getElementsByTagName('input')[0];
                    input.value -= -1;
                    event.preventDefault();
                    reloadGame(event);
                }
            </script>
            <div>
                <a class="round smallBtn" onclick="reduce(event)">-</a>
                <input class="signature" type="text" name="beats_num" size="1" value="4">
                <a class="round smallBtn" onclick="increase(event)">+</a>
            </div>
            <div>
                <a class="round smallBtn" onclick="reduce(event)">-</a>
                <input class="signature" type="text" name="note_value" size="1" value="4">
                <a class="round smallBtn" onclick="increase(event)">+</a>
            </div>
        </form>
    </div>
    <div id="templates" class="clear vertShift">
        <div class="template" onclick="reloadGame(event, {0:[1], 2:[1], 3:[1]})">
            <img src="{% static 'Images/Notes/2.png' %}">
            <img src="{% static 'Images/Notes/4.png' %}">
            <img src="{% static 'Images/Notes/8.png' %}">
        </div>
    </div>
    <script src="{% static 'drawing.js' %}"></script>
    <script src="{% static 'rhythm_trainer.js' %}"></script>
</article>
<footer>
    There'll be more features soon<br>
    Have a question? Write here thrashmetalfan98@gmail.com<br>
    This project is entirely open source. If you are a developer, consider contributing to this project <a
        href="https://github.com/SuperMegaGiperProger/Rhythmix" target="_blank" onclick="stopGame()">here</a>.
</footer>
</body>
</html>